<div class="headline">
    <h2>Users</h2>
</div>

<div class="row news-v2">

    <div class="col-md-3" *ngFor="let user of users">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
            <div class="thumbnail-img">
                    
                <div class="overflow-hidden">
                    <img class="img-responsive" src="/site/resources_1_9_5/img/main/img22.jpg" alt="avatar">
                </div>
                
                <a class="btn-more hover-effect" routerLink="/users/view/{{user._id}}">read more +</a>
            </div>
            <div class="caption">
                <h3><a class="hover-effect" routerLink="/users/view/{{user._id}}">{{user.username}}</a></h3>
                <small>{{user.firstName}} {{user.lastName}} </small>
                <small>{{user.email}}</small>
                <p>{{user.bio}}</p>

                <button class="btn-u btn-brd rounded-2x btn-u-aqua btn-u-xs" (click)="delete(user._id)">
                    <i class="fa fa-trash"></i>Delete {{user.username}}
                </button>

            </div>
        </div>
    </div>

</div>
	

	
