<!--<div *ngFor="let snap of compSnaps"> Hello </div>	-->
<div id="grid-container" class="cbp-l-grid-gallery" #gridSnapsContainer>							
<div class="cbp-item print motion" *ngFor="let snap of compSnaps">
        <a href="{{snap._id}}" class="cbp-caption cbp-singlePageInline" data-title="{{snap.title}}">
        <div class="cbp-caption-defaultWrap">
            <img src="{{snap.thumbnailPath}}" alt="">
        </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">{{snap.name}}</div>
                    <div *ngIf="(snap.album !== undefined)" class="cbp-l-caption-desc">In {{snap.album.name}}</div>
                </div>
            </div>
        </div>
    </a>
</div>			
			
</div>

<!--<div class="cbp-l-loadMore-button">
    <a href="assets_onepageclassic/ajax/loadMore.html" class="cbp-l-loadMore-button-link">LOAD MORE</a>
</div>-->