<div class="gallery_full_width_images_area row clearfix">
<!-- Single gallery Item -->
<div class="gra col-12 col-sm-6 col-md-4 single_gallery_item">
        <div class="single_gallery_content" *ngFor="let snap of compSnaps">
            <img src="assetsV2/img/gallery/p-9.jpg" alt="">
            <!-- Hover Effects -->
            <div class="hover_overlay">
                <div class="gallery_info">
                    <div class="zoom-details-btn">
                        <a class="gallery_img animated fadeInDown" href="assetsV2/img/gallery/p-9.jpg"><i class="ti-zoom-in"></i></a>
                        <a href="single-portfolio-1.html"><i class="ti-link"></i></a>
                    </div>
                    <h5>Creative Work</h5>
                    <p>Catagory Name</p>
                </div>
            </div>
        </div>
    </div>
</div>