<!--Reg Block-->
<div class="reg-block">
    <div class="reg-block-header">
        <h2>Sign In</h2>
        <ul class="social-icons text-center">
            <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="#"></a></li>
            <li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>
            <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>
            <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>
        </ul>
        <p>Don't Have Account? Click <a class="color-green" routerLink="/register">Sign Up</a> to registration.</p>
    </div>
    <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>

        <div class="input-group margin-bottom-20" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="model.username" #username="ngModel" required>
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="input-group margin-bottom-20" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <hr>

        <div class="checkbox">
            <label>
                <input type="checkbox">
                <p>Always stay signed in</p>
            </label>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <button [disabled]="loading" type="submit" class="btn-u btn-block">Log In</button>
            </div>
        </div>

    </form>
</div>
<!--End Reg Block-->